You have to work on the files:
*  [Books](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Books.csv.gz)
*  [Book ratings](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Book-Ratings.csv.gz)
*  [Users](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Users.csv.gz)
*  [Goodbooks books](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks.csv.gz)
*  [Goodbooks ratings](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks-ratings.csv.gz)

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    To read those files, you need to use the `encoding = 'latin-1'` option.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com), otherwise no  answer will be given.

In [1]:
import pandas as pd

In [2]:
books = pd.read_csv('C:/Users/lsamm/OneDrive/Desktop/Università/Foundations of Computer Science/Progetto/Books.csv', sep = ';', encoding = 'latin-1')
books.head()

C:\Users\lsamm\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [3]:
books_ratings = pd.read_csv('C:/Users/lsamm/OneDrive/Desktop/Università/Foundations of Computer Science/Progetto/Book-Ratings.csv', sep = ';', encoding = 'latin-1')
books_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [4]:
users = pd.read_csv('C:/Users/lsamm/OneDrive/Desktop/Università/Foundations of Computer Science/Progetto/Users.csv', sep = ';', encoding = 'latin-1')
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
goodbooks = pd.read_csv('C:/Users/lsamm/OneDrive/Desktop/Università/Foundations of Computer Science/Progetto/goodbooks.csv', encoding = 'latin-1')
goodbooks.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [6]:
goodbooks_ratings = pd.read_csv('C:/Users/lsamm/OneDrive/Desktop/Università/Foundations of Computer Science/Progetto/goodbooks-ratings.csv', encoding = 'latin-1')
goodbooks_ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

### 1. Normalize the location field of *Users* dataset, splitting into city, region, country.

In [7]:
users['Location'].str.split(',', expand=True)

,0,1,2,3,4,5,6,7,8
0,nyc,new york,usa,None,None,None,None,None,None
1,stockton,california,usa,None,None,None,None,None,None
2,moscow,yukon territory,russia,None,None,None,None,None,None
3,porto,v.n.gaia,portugal,None,None,None,None,None,None
4,farnborough,hants,united kingdom,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
278853,portland,oregon,usa,None,None,None,None,None,None
278854,tacoma,washington,united kingdom,None,None,None,None,None,None
278855,brampton,ontario,canada,None,None,None,None,None,None
278856,knoxville,tennessee,usa,None,None,None,None,None,None
278857,dublin,n/a,ireland,None,None,None,None,None,None

In [8]:
len(users[users['Location'].str.split(',', expand=True).notnull()[3]]['Location'])

1508

In [9]:
#users[['City','Region','Country']] = users['Location'].str.split(',', expand=True)
#users.head()

### 2. For each book in the *Books* dataset, compute its average rating.

In [10]:
books_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [11]:
books_ratings.groupby('ISBN')['Book-Rating'].mean()

ISBN
 0330299891     3.0
 0375404120     1.5
 0586045007     0.0
 9022906116     3.5
 9032803328     0.0
               ...
cn113107        0.0
ooo7156103      7.0
Â§423350229     0.0
Â´3499128624    8.0
ÃÂ½crosoft     7.0
Name: Book-Rating, Length: 340556, dtype: float64

### 3. For each book in the *GoodBooks* dataset, compute its average rating.

In [12]:
goodbooks.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [13]:
goodbooks.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [14]:
goodbooks[['book_id','isbn','title','average_rating']]

,book_id,isbn,title,average_rating
0,1,439023483,"The Hunger Games (The Hunger Games, #1)",4.34
1,2,439554934,Harry Potter and the Sorcerer's Stone (Harry P...,4.44
2,3,316015849,"Twilight (Twilight, #1)",3.57
3,4,61120081,To Kill a Mockingbird,4.25
4,5,743273567,The Great Gatsby,3.89
...,...,...,...,...
94,95,375751513,The Picture of Dorian Gray,4.06
95,96,345803507,"Fifty Shades Freed (Fifty Shades, #3)",3.88
96,97,393970124,Dracula,3.98
97,98,307269981,"The Girl Who Played with Fire (Millennium, #2)",4.22
98,99,1612130585,"Fifty Shades Darker (Fifty Shades, #2)",3.87

In [15]:
pd.merge(books_ratings.groupby('ISBN')['Book-Rating'].mean(),goodbooks,left_index=True,right_on='isbn')[['isbn','title','Book-Rating','average_rating']]

,isbn,title,Book-Rating,average_rating
74,014028009X,"Bridget Jones's Diary (Bridget Jones, #1)",3.751852,3.75
89,014038572X,The Outsiders,4.460674,4.06
17,043965548X,Harry Potter and the Prisoner of Azkaban (Harr...,3.533333,4.53
59,1400032717,The Curious Incident of the Dog in the Night-Time,4.813187,3.85
10,1594480001,The Kite Runner,2.400000,4.26

### 4. Merge together all rows sharing the same book title, author and publisher. We will call the resulting datset `merged books`. The books that have not been merged together will not appear in `merged books`.

In [16]:
books.groupby('')

NameError: name 'book' is not defined

### 5. For each book in `merged books` compute its average rating.

The average is computed considering all books in `books` that have been merged.

### 6. For each book in `merged books` compute the minimum and maximum of the average ratings over all corresponding books in the `books` dataset.

Hence for each book in `merged books` we will have exactly two values (a minimum and a maximum)

### 7. For each book in `goodbooks`, compute the list of its authors. Assuming that the number of reviews with a text (column `work_text_reviews_count`) is split equally among all authors, find for each authors the total number of reviews with a text. We will call this quantity the *shared number of reviews with a text*.

### 8. For each year of publication, determine the author that has the largest value of the shared number of reviews with a text.

### 9. Assuming that there are no errors in the ISBN fields, find the books in both datasets, and compute the difference of average rating according to the ratings and the goodratings datasets

### 10. Split the users dataset according to the age. One dataset contains the users with unknown age, one with age 0-14, one with age 15-24, one with age 25-34, and so on.

### 11. Find the books that appear only in the goodbooks datasets.

### 12. Assuming that each pair (author, title) identifies a book, for each book find the number of times it appears in the books dataset. Which books appear the most times?

### 13. Find the author with the highest average rating according to the goodbooks datasets.